@model IEnumerable<ChaleModel>

<div class="container">
    <div class="d-flex justify-content-between align-itens-center mb-5">
        <h1>Reservas</h1>
        <a class="btn btn-success w-40 " asp-controller="Reserva" asp-action="Cadastrar">Cadastrar Novo Emprestimo</a>
    </div>
    <h1>Chalés</h1>
</div>

