@model IEnumerable<ChaleModel>

<div class="container">
    <div class="d-flex justify-content-between align-itens-center mb-5">
        <h1>Reservas</h1>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome:</th>
                <th scope="col">Quantidade de Pessoas:</th>
                <th scope="col">Número De Contato:</th>
                <th scope="col">Chalé:</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var login in Model) 
                {
                    <tr>
                        <th scope="row">@login.NomeUsuario</th>
                        <td>@login.QuantidadeDePessoa</td>
                        <td>@login.numeroDeTelefone</td>
                        <td>@login.Chale</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>