<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #F2F2F2;
            font-family: 'Rubik', sans-serif;
        }

        header {
            position: relative;
        }

        .Aguia {
            position: absolute;
            top: 10%;
            left: 5%;
            width: 90%;
            display: flex;
            justify-content: space-between;
        }

        .Aguia img {
            max-width: 40%;
            height: auto;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
            color: #022601;
            font-size: 40px;
        }   

        .paragrafo {
            max-width: 800px;
            margin: 0 auto;
            font-size: 120%;
            text-align: center;
            margin-top: 20px;
            color: #022601;
        }

        .backInstrucoes {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            margin-top: 20px;
        }

        ul {
            position: relative;
            max-width: 800px;
            margin: 0 auto;
            margin-top: -350px;
        }

        li {
            color: aliceblue;
            font-size: 15px;
        }

        strong {
            color: #c07e02;
        }   

        h5 {
            text-align: center;  
        }

        .chales {
            align-items: center;
            margin-top: 14%;
        }

        .card {
            display: inline-block;
            margin: auto;
            padding: 1%;
            width: 55%;
            align-content: stretch;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <header>
        <img class="img-fluid rounded box-shadow" src="imagem/Formoso.jpg" alt="">
        <div class="Aguia">
            <img class="AguiaUm" src="imagem/aguiaUm.png" alt="">
            <img class="AguiaDois" src="imagem/AguiaDois.png" alt="">
        </div>
    </header>
    <main>
        <h1>Reserva de Chalés</h1>
        <p class="paragrafo"><strong>Deus Abençoe!</strong> Estamos comprometidos em proporcionar uma estadia aos nossos queridos irmãos nos chalés. Para garantir uma gestão eficiente, siga o passo a passo abaixo:</p>
        <img src="imagem/BackInstrucoes.png" alt="imagemBackgroundDasInstruções" class="backInstrucoes">
        <ul class="textoInstrucoes">
            <li>
                <strong>Escolha do Chalé:</strong> Navegue pela nossa seleção de 24 chalés e escolha aquele que melhor atende às suas necessidades e preferências.
            </li>
            <li>
                <strong>Preencha o Formulário:</strong> Preencha o formulário de reserva abaixo com suas informações pessoais, incluindo nome, e-mail, telefone e as datas de check-in e check-out desejadas.
            </li>
            <li>
                <strong>Mensagem Opcional:</strong> Se desejar, utilize o campo de mensagem para nos fornecer informações adicionais ou solicitações especiais.
            </li>
            <li>
                <strong>Envie Sua Reserva:</strong> Clique no botão "Enviar Reserva" para submeter suas informações. Seu pedido será processado rapidamente.
            </li>
            <li>
                <strong>Desfrute da Estadia:</strong> Chegue ao Formoso Sítio das Águias no dia agendado e desfrute de uma estadia abençoada e aconchegante nos chalés.
            </li>
        </ul>
        <div class="chales">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Fé</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Amor</h5>
                            <a class="btn btn-primary btn-block"  asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Rosa De Saron</h5>
                            <a  class="btn btn-primary btn-block"  asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Estrela Da Manhã</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Vale De Jaboque</h5>
                            <a  class="btn btn-primary btn-block"  asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Luz</h5>
                            <a  class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Esperança</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar" >Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Betseda</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Coluna De Fogo</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Luz Do Mundo</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Graça</h5>
                            <a  class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Companheirismo</h5>
                            <a  class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Paz</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Jordão</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Jerusalém</h5>
                            <a  class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Cantico</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Belém</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Monte Sinai</h5>
                            <a  class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Monte Carmelo</h5>
                            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Luz Do Mundo</h5>
                            <a  class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Rosa De Saron</h5>
                            <a  class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Rosa De Saron</h5>
                            <a  class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/imagem/chaleColorido.jpg" class="card-img-top" alt="ImagemDoChale">
                        <div class="card-body">
                            <h5 class="card-title">Chalé Rosa De Saron</h5>
                            <a  class="btn btn-primary btn-block" asp-controller="Home" asp-action="Reservar">Reservar</a>
                        </div>
                    </div>
                </div>
               <p><a asp-controller="Home" asp-action="Administrador">SOU ADMINISTRADOR</a></p>
            </div>
        </div>
    </main
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>