@model ChaleModel

@{
    ViewData["title"] = "Administradores Chalés";
}

<div class="containerp-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-dark"> Login Administradores Chalés </h1>
    </div>
    <form>
        <div class="mb-3">
            <label for="Login" class="form-label text-light">Login:</label>
            <input type="text" asp-for="Login" class="form-control" placeholder="Adicione o Login:" >
            @Html.ValidationMessageFor(x=> x.Login)
        </div>

        <div class="mb-3">
            <label for="Senha" class="form-label text-light">Senha:</label>
            <input type="password" asp-for="Senha" class="form-control" placeholder="Adicione a Senha: " >
            @Html.ValidationMessageFor(x => x.Senha)
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50" asp-controller="Home" asp-action="Cadastros">Entrar</button>
            <a class="btn btn-primary w-50" asp-controller="Home" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>